{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
html, body, .container-fluid, .row {
 height: 100%;

 }
body {
font-family: Microsoft JhengHei;
overflow-x:hidden;
}
div {
  padding: 0;
  margin: 0;
  font-family: Microsoft JhengHei;
}

table, th, td {
  text-align: center;
  border-collapse: collapse;

}
div.load table tr th {
width:25%;
}

#loadTableTitle tr th{
width:25%;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
   height: 100%;
   border-right: 1px solid rgb(250,250,250);
   padding: 0px;
   }
  #sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
     height: 100%;}
  #sidebar.active ul.components li {
      font-size: 12px; }
  #sidebar.active ul.components li a {
        padding: 10px 0; }
  #sidebar.active ul.components li a span {
          margin-right: 0;
          display: block;
          font-size: 24px; }
    #sidebar.active .logo {
      padding: 10px 0; }
    #sidebar.active .footer {
      display: none; }

  #sidebar ul.components {

    padding: 0px;
    margin-left:10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }


    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {

      display: block;
      color: black;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      #sidebar ul li a span {
        margin-right: 15px; }
        @media (max-width: 991.98px) {
          #sidebar ul li a span {
            display: block; } }






/* Change background color of buttons on hover */
.tab a:hover {
  background-color: rgb(250,250,250);
  text-decoration: none
}

/* Create an active/current tablink class */
.tab a.active {
  background-color: rgb(250,250,250);
}

/* Style the tab content */
.tabcontent .input-tab{

  margin: 0;
  padding:0px;


}
.tabframe {
  display: flex;
  justify-content:center;
  background-color: rgb(254,254,254);
  margin: 0;
  border: 1px solid rgb(250,250,250);
  padding:0px;
  height:100%;
  overflow: auto;

}


.chinese-title{

font-size: 10px;
font-weight:900;
}
.english-title{
font-weight:900;
font-size: 12px;
background: rgb(250,250,250);
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
}
.english-content{
font-weight:450;
font-size: 13.5px;
}
.unit{
font-weight:450;
font-size: 12.5px;
}


.tab-element{
padding-right: 10px;
padding-left: 10px;
padding-bottom:10px;
}
.child-center {
display: flex;
justify-content: center;
align-items: center;
}




/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Style the tab */


/* Style the buttons inside the tab */
.inputButtonContainer a {
  background-color: rgba(255,255,255,0.1);
  float: left;
  border:1px solid rgba(0, 0, 0, 0.1);
  border-bottom:0px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}


/* Create an active/current tablink class */
.inputButtonContainer a.active {
  background-color:rgb(250,250,250);
}


.rcorners2 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-right: 0;
  display: block;
  font-size: 12px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 100px;
  max-width: 100px;
  height: 100%;


}

.input-tab{
width:100%
}
.output-tab{
width:100%
}

input, select {
max-height: 21px;
min-height: 21px;
max-width: 130px;
font-size: 13px;
font-family: Microsoft JhengHei;
font-weight: 450;
}
input:focus,select:focus, textarea:focus {
outline:none;
border:1px solid rgba(255,204,0,1);
box-shadow:0 0 1.5px rgba(255,204,0,1);
}
input[type="text"]:disabled {
  background: rgb(250,250,250);
  outline:none;
  border:1px solid rgba(169,169,169,1);
}

label{
    margin-bottom: 5px;
    font-size: 14px;
}


.child-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button.btn {
 outline:none;
}
.btn{
    border: 1px solid rgb(200,200,200);
    transition:0.15s;
    font-family: Microsoft JhengHei;
    max-height: 40px;
    text-align: center;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    width: 70px;
    outline:none;
}
.btn:hover{
color:rgb(255,204,0);
outline:none;
border:1px solid rgba(255,204,0,1);
box-shadow:0 0 1.5px rgba(255,204,0,1);
}
.btn:focus{
outline:none;
box-shadow:0 0 0px rgba(255,204,0,1);
}

#loadList::-webkit-scrollbar {
    display: none;
}

.load{
cursor: context-menu;
}














</style>
<div class="row" style="height: calc(100% - (30px + 30px));">
    <div style="height: 100%;">
        <nav id="sidebar" class="active col-1 ">

            <ul class="components tab">

                <li>
                    <a id="parameter" href="#" class="tablinks"
                       onclick="openTab(this.id, this.id + 'Tab','tabcontent','tablinks' );"><span
                            class="fas fa-book"></span>Parameter</a>
                </li>
                <li>
                    <a id="new" href="javascript:{document.getElementById('NewHome').submit()}" class="tablinks">
                        <span class="fas fa-file"></span>
                        New</a>
                    <form id="NewHome" method="POST" name="NewHome" action="{% url 'home' %}">
                        {% csrf_token %}
                        <input type="hidden"/>
                    </form>
                </li>
                <li>
                    <a id="intro" href="#" class="tablinks"
                       onclick="openTab(this.id, this.id + 'Tab','tabcontent','tablinks' );"><span
                            class="fas fa-question"></span>
                        Intro</a>
                </li>
                <!--
                <li>
                    <a href="#"><span class="fas fa-file"></span> New</a>
                </li>
                <li>
                    <a href="#"><span class="fas fa-save"></span> Save</a>
                </li>
                <li>
                    <a href="#"><span class="fas fa-file-import"></span> Import</a>
                </li>...-->
            </ul>


        </nav>
    </div>


    <div class="tabframe" style="width:30%;">
        <div id="parameterTab" class="tabcontent" style="width:100%">
            <h3 class="english-title">Equivalent Stress Block<br/><span class="chinese-title">等值矩形應力塊</span></h3>
            <img src="{% static 'StressBlock.svg' %}" class="d-inline-block alighn-top tab-element"
                 style="width:100%"/>
            <p style="padding-top: 3px;padding-bottom: 3px;padding-left:10%" class="english-content">
                &alpha;<sub>1</sub>&nbsp;=&nbsp;0.85-0.00022(f<sub>c</sub><sup>'</sup>&nbsp;-560),
                &nbsp;0.7&le;&alpha;<sub>1</sub>&le;0.85, &nbsp; f<sub>c</sub><sup>'</sup>: kgf/cm<sup>2</sup>
                <br>

            </p>
            <p style="padding-top: 3px;padding-bottom: 3px;padding-left:10%" class="english-content">
                &nbsp;&nbsp;&nbsp;&nbsp; =<span id="alphaValue"></span>
            </p>

            <p style="padding-top: 3px;padding-bottom: 3px;padding-left:10%" class="english-content">
                &beta;<sub>1</sub>&nbsp;=&nbsp;0.85-0.00071(f<sub>c</sub><sup>'</sup>&nbsp;-280),
                &nbsp;0.65&le;&beta;<sub>1</sub>&le;0.85, &nbsp; f<sub>c</sub><sup>'</sup>: kgf/cm<sup>2</sup>
            </p>
            <p style="padding-top: 3px;padding-bottom: 3px;padding-left:10%" class="english-content">
                &nbsp;&nbsp;&nbsp;&nbsp; =<span id="betaValue"></span>
            </p>


            <h3 class="english-title">Strength Reduction Factor<br/><span class="chinese-title">強度折減係數</span></h3>
            <div style="width: 100%" class="child-center">
                <img src="{% static 'StrengthReductionFactor.svg' %}" class="d-inline-block alighn-top tab-element"
                     style="width:280px"/></div>
            <p style="padding-top: 3px;padding-bottom: 3px;" class="child-center english-content">
                &phi;<sub>1</sub>&nbsp;=&nbsp;0.65
            </p>
            <p style="padding-top: 3px;padding-bottom: 3px;" class="child-center english-content">
                &phi;<sub>2</sub>&nbsp;=&nbsp;0.9
            </p>
            <p style="padding-top: 3px;padding-bottom: 3px;" class="child-center english-content">
                &epsilon;<sub>t1</sub>&nbsp;=&nbsp; &epsilon;<sub>y</sub>&nbsp;=&nbsp;<span
                    id="yieldStrainValue"></span>
            </p>
            <p style="padding-top: 3px;padding-bottom: 3px;" class="child-center english-content">
                &epsilon;<sub>t2</sub>&nbsp;=&nbsp;0.005
            </p>

        </div>

        <div id="newTab" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
        </div>

        <div id="introTab" class="tabcontent">

            <h3 class="english-title">NewRC-PM Introduction<br/>
                <span class="chinese-title">NewRC-PM 之介紹</span>
            </h3>
            <div class="child-center-column" style="margin:3% 7% 3% 7%;">
                <p style="margin-bottom:3%;text-align:justify;" class="english-content">
                    高強度鋼筋混凝土(NewRC)結構目前已成功應用於日本高樓層建築，該結構改善傳統鋼筋混凝土(RC)結構對於建築樓層之限制(最高約為30層樓)，且同時具有成本低、耐久性高等優點。以日本工程經驗為例，相較於SRC結構，採用NewRC結構可降低約五分之一的工程造價與工期，此外，日本已成功採用NewRC建造59層樓之高樓建築物，如下圖所示，表示超高層建築物應用NewRC結
                    構確有其可行性。
                </p>
                <p style="margin-bottom:3%;text-align:justify;" class="english-content">
                    國家地震工程研究中心於2011年起籌組高強度鋼筋混凝土(New RC)研究團隊，採用降伏強度685MPa以及785 MPa之高強度鋼筋以及強度高於70MPa之高強度混凝土進行構件行為研究，當中包含柱、梁、版、梁柱接頭、牆等結構主要構材。經數年戮力研究後，於2017年出版「高強度鋼筋混凝土結構設計手冊」，詳細介紹NewRC結構之設計方法，當中也包含New RC柱構件受軸力與撓曲聯合作用之設計方法。
                </p>
                <p style="margin-bottom:3%;text-align:justify;" class="english-content">
                    RC柱構件在軸力與撓曲聯合作用下，基於極限狀態之假設採以等效矩形應力分布計算斷面之軸力與撓曲強度，依此進行斷面設計。NewRC柱構件與之相同，惟該等值應力塊之應力值異於現行RC規範之規定，導致既有之分析軟體需進行額外設定或無法使用，局限了NewRC於柱構件方面的推廣。
                </p>
                <p style="margin-bottom:3%;text-align:justify;" class="english-content">
                    因此台大歐昱辰教授指導研究生蔡東均開發NewRC-PM電腦應用程式，該程式由於內建等值應力塊之應力值計算公式，同時適用於RC以及NewRC柱構件之軸力與撓曲強度計算，便於NewRC柱構件之軸力與撓曲強度檢核。另外，程式在開發完成後，已上傳至歐昱辰教授個人網站(<a href="http://140.112.12.226/NewRC_PM.html" style="color:rgb(0,120,215);font-weight:900;">網站連結</a>)，供使用者至該網站免費下載。
                </p>
                <p style="margin-bottom:3%;text-align:justify;" class="english-content">
                    雖既有NewRC-PM電腦應用程式已具備足夠之功能可檢核柱構件軸力與撓曲聯合作用之強度，然而該程式採用MATLAB開發，使其執行速度略低於一般電腦應用程式，且程式需進行下載、安裝等步驟才可順利使用，操作較為繁瑣。因此NewRC-PM開發者蔡東均進一步將NewRC-PM電腦應用程式轉譯為網頁應用程式，讓使用者略過前述步驟，直接開始使用NewRC-PM。
                </p>
                <p style="margin-bottom:3%;text-align:justify;" class="english-content">
                    NewRC-PM網頁應用程式(本網頁)除了具備既有NewRC-PM電腦應用程式之功能外，另添加TEXT輸入方法，對於需要輸入大量斷面與設計載重的情況，使用者可先用外部軟體(如Excel)依照本網頁之格式產生多組斷面設計參數，並將各斷面設計參數貼於網頁中的TEXT分頁內執行，節省逐格輸入尺寸及配筋、設計載重之時間。本網頁也計畫在未來添加其他NewRC構件之設計功能，以進一步推廣NewRC結構。
                </p>
                <img src="{% static 'NewRCBuilding.jpg' %}" class="d-inline-block alighn-top tab-element"
                     style="width:100%;padding:0px;"/>
            </div>
            <h3 class="english-title">NewRC-PM Developer Biography<br/>
                <span class="chinese-title">NewRC-PM開發者簡介</span>
            </h3>
            <div style="margin:3% 7% 3% 7%;">

                <p style="margin-bottom:3%;text-align:justify;" class="english-content">
                    <img src="{% static 'CVPhoto.jpg' %}" class="d-inline-block alighn-top tab-element"
                         style="width:30%;padding:0px;float:left;"/>
                    開發者蔡東均，畢業於台灣科技大學營建工程系(學士)，畢業當年考取土木工程技師，並錄取台灣科技大學營建工程系-結構組(碩士)，指導教授為歐昱辰(現已轉任於台大土木系)，碩士期間開發NewRC-PM電腦應用程式，並在歐昱辰教授指導下，將該程式之檢核與研究應用彙整成期刊，發表於結構工程31卷-4期[<a href="{% static 'Journal1_NewRCPM.pdf' %}" style="color:rgb(0,120,215);font-weight:900;">PDF</a>]。碩士論文為「高強度鋼筋混凝土柱彎矩強度分析程式NewRC-PM之開發與研究應用」，旨在蒐集撓曲破壞之柱試驗資料，建立試驗資料庫，並利用NewRC-PM之分析功能比對分析結果與試驗結果，探討「鋼筋混凝土柱之最大可能彎矩強度」之計算方法。碩士畢業後，在歐教授指導下，進一步將前述計算方法精進，共同於結構工程期刊發表「鋼筋混凝土柱最大可能彎矩強度」(33卷-1期)[<a href="{% static 'Journal2_Mpr.pdf' %}" style="color:rgb(0,120,215);font-weight:900;">PDF</a>]。而後在服役期間(替代役)，參加當年結構工程技師考試並成功考取(年底考試，隔年放榜)，退役後進入中鼎工程股份有限公司任職結構設計工程師。開發者至今仍致力於土木相關程式與網頁的開發，在2020年，利用Django (Python)網頁應用框架，搭配Javascript, CSS, HTML等前端網頁設計，將NewRC-PM轉譯為網頁應用程式。
                </p>


            </div>
        </div>
    </div>
    <div style="margin-left:15px;min-width:25%;max-width:25%;height: 100%;">
        <div class="row inputButtonContainer" style="height:20px">

            <a id="inputForm" class="rcorners2 child-center english-title input-tab-button" style="padding:0px"
               onclick="openTab(this.id, this.id + 'Tab','input-tab','input-tab-button');"><span class="child-center">Form</span></a>


            <a id="inputText" class="rcorners2 child-center english-title input-tab-button" style="padding:0px"
               onclick="openTab(this.id, this.id + 'Tab','input-tab','input-tab-button' );">
                <span class="child-center">Text</span>
            </a>


        </div>
        <div class="row" style="height: calc(100% - (0px + 20px));">
            <div class="col-md-12 tabframe" style="justify-content:left;background-color: rgb(255,255,255);">
                <div id="inputFormTab" class="input-tab">
                    <form>
                        <h3 class="english-title">Dimension of Section
                            <br/><span class="chinese-title">斷面尺寸</span></h3>


                        {% csrf_token %}
                        <div style="padding-left:30px;padding-bottom:10px;padding-top:10px">
                            <label for="Dx"><p class="english-content">D<sub>x</sub>&nbsp;=&nbsp;</p></label><input
                                type="text" id="Dx" name="Dx" class="inputData"><span class="unit">&nbsp;cm</span><br>
                            <label for="Dy"><p class="english-content">D<sub>y</sub>&nbsp;=&nbsp;</p></label><input
                                type="text" id="Dy" name="Dy" class="inputData"><span class="unit">&nbsp;cm</span>
                        </div>

                        <h3 class="english-title">Strength of Material
                            <br/><span class="chinese-title">材料強度</span></h3>
                        <div style="padding-left:30px;padding-bottom:10px;padding-top:10px">
                            <label for="fc"><p class="english-content">f<sub>c</sub><sup>'</sup>&nbsp;=&nbsp;</p>
                            </label><input
                                type="text" id="fc" name="fc" class="inputData" onfocusout="alphaBetaCalculate()"><span
                                class="unit">&nbsp;kgf/cm<sup>2</sup></span><br>
                            <label for="fy"><p class="english-content">f<sub>y</sub><span
                                    style="font-size:5px">&nbsp;</span>&nbsp;=&nbsp;</p></label><input
                                type="text" id="fy" name="fy" class="inputData"
                                onfocusout="yieldStrainCalculate()"><span
                                class="unit">&nbsp;kgf/cm<sup>2</sup></span>
                        </div>
                        <h3 class="english-title">
                            Arrangement of Reinforcement Bars
                            <br/>
                            <span class="chinese-title">鋼筋配置</span>
                        </h3>
                        <div style="padding-left:30px;padding-bottom:10px;padding-top:10px">
                            <label for="nx"><p class="english-content">n<sub>x</sub>&nbsp;=&nbsp;</p></label>
                            <input type="text" id="nx" name="nx" class="inputData">
                            <br/>
                            <label for="ny"><p class="english-content">n<sub>y</sub>&nbsp;=&nbsp;</p></label>
                            <input type="text" id="ny" name="ny" class="inputData">
                            <br/>
                            <label for="barSizeNo"><p class="english-content">d<sub>b</sub>&nbsp;&nbsp;=</p></label>
                            <select id="barSizeNo" name="barSizeNo" onchange="showDbAb();sectionDrawing();"
                                    class="inputData">
                                <option value="10,0.953,0.7133">D10</option>
                                <option value="13,1.27,1.267">D13</option>
                                <option value="16,1.59,1.986">D16</option>
                                <option value="19,1.91,2.865">D19</option>
                                <option value="22,2.22,3.871">D22</option>
                                <option value="25,2.54,5.067">D25</option>
                                <option value="29,2.87,6.469">D29</option>
                                <option value="32,3.22,8.143">D32</option>
                                <option value="36,3.58,10.07">D36</option>
                                <option value="39,3.94,12.19">D39</option>
                                <option value="43,4.3,14.52">D43</option>
                                <option value="50,5.02,19.79">D50</option>
                                <option value="57,5.73,25.79">D57</option>
                            </select>
                            <span id="DbAb" class="english-content"></span>
                            <br>
                            <label for="cc"><p class="english-content">c<sub>c</sub>&nbsp;=&nbsp;</p></label>
                            <input type="text" id="cc" name="cc" class="inputData">
                            <span class="unit">&nbsp;cm</span>


                        </div>
                        <h3 class="english-title">Factored Loads
                            <br/><span class="chinese-title">係數化載重</span></h3>
                        <div style="display:flex;flex-wrap:nowrap;">
                            <div style="flex:1;"></div>
                            <div style="flex:1;" class="child-center-column">
                                <label for="Pu"><p class="english-content" style="margin:0px;">P<sub>u</sub></p></label>

                                <input type="text" id="Pu" name="Pu" style="width:80px">
                                <span class="unit">(&nbsp;tf&nbsp;)</span>
                                <button type="button" class="btn  english-content" title="插入"
                                        onclick="insertLoad();writingInputToText(event);">
                                    Insert
                                </button>

                            </div>
                            <div style="flex:.5;"></div>
                            <div style="flex:1;" class="child-center-column">
                                <label for="Mux"><p class="english-content" style="margin:0px;">M<sub>ux</sub>&nbsp;</p>
                                </label>
                                <input type="text" id="Mux" name="Mux" style="width:80px">
                                <span class="unit">(&nbsp;tf-m&nbsp;)</span>
                                <button type="button" class="btn  english-content" title="修改"
                                        onclick="modifyLoad();writingInputToText(event);">
                                    Modify
                                </button>
                            </div>
                            <div style="flex:.5;"></div>
                            <div style="flex:1;" class="child-center-column">
                                <label for="Muy">
                                    <p class="english-content" style="margin:0px;">
                                        M<sub>uy</sub>
                                    </p>
                                </label>
                                <input type="text" id="Muy" name="Muy" style="width:80px" disabled>
                                <span class="unit">
                                    (&nbsp;tf-m&nbsp;)
                                </span>

                                <button type="button" class="btn  english-content" title="刪除"
                                        onclick="deleteLoad();writingInputToText(event);">
                                    Delete
                                </button>
                            </div>
                            <div style="flex:1;"></div>
                        </div>
                        <div style=" margin-top:10px" class="child-center-column">
                            <table style="width:75%;" id="loadTableTitle">
                                <tr>
                                    <th><p class="english-content" style="margin:0px;">No.</p></th>
                                    <th><p class="english-content" style="margin:0px;">P<sub>u</sub></p></th>
                                    <th><p class="english-content" style="margin:0px;">M<sub>ux</sub></p></th>
                                    <th><p class="english-content" style="margin:0px;">M<sub>uy</sub></p></th>
                                </tr>
                            </table>

                            <div id="loadList" class="english-content"
                                 style="width:75%;height:90px;overflow-y:auto;border-bottom:1px solid rgb(0,0,0);border-top: 1px solid rgb(0,0,0);">

                                <div href="#" id="a" class="load" style="display:none;background:rgb(0, 120, 215);"
                                     onclick=" changeColor(this.className,this.id,'rgb(255,255,255)','rgb(0,120,215)')">
                                    I am not visible!
                                </div>


                            </div>


                        </div>

                    </form>
                    <button style="margin:3% 12.5% 3% 12.5%" class="english-content btn"
                            onclick="document.getElementById('submit').click();"> Run
                    </button>

                </div>
                <div id="inputTextTab" class="english-title input-tab child-center"
                     style="padding:0px;background:rgb(254,254,254);">
                    <form id="textForm" style="height:60%" class="child-center-column" action='' method="POST">
                        {% csrf_token %}
                        <p style="margin:0px;padding:0px;margin-top:5%;margin-bottom:1%;width:80%;">The following data
                            are automatically transferred from "Form" tab:</p>

                        <textarea id="inputTextarea" name="inputTextarea" form="textForm" style="width:80%;height:100%"
                                  value=""> </textarea>

                        <div style="width:80%;margin-top:2%">
                            <input type="submit" value="Run" id="submit" class="english-content btn"
                                   style="margin:2% 0% 2% 0%">
                        </div>


                    </form>


                </div>

            </div>

        </div>

    </div>
    <div style="margin-left:30px;height: 100%;max-width:calc(45% - (15px + 30px + 100px + 30px));min-width:calc(45% - (15px + 30px + 100px + 30px));">
        <div class="row inputButtonContainer" style="height:20px">

            <a id="section" class="rcorners2 child-center english-title output-tab-button active"
               style="padding:0px;cursor:auto;">
                <span class="child-center">Output</span>
            </a>


        </div>
        <div class="row" style="height: calc(100% - (0px + 20px));">
            <div class="col-md-12 tabframe" style="justify-content:left;background-color: rgb(255,255,255);">
                <div id="sectionTab" class="output-tab " style="min-width:550px;overflow-x:auto;">
                    <h3 class="english-title" style="margin:0;">Section Sketch
                        <br/><span class="chinese-title">斷面圖</span></h3>
                    <div class="child-center">
                        <svg id="sectionSvg" viewBox="0 0 132 132"
                             style="width:60%;border:1px solid rgb(100,100,100);margin:3%;"></svg>

                    </div>
                    <h3 class="english-title">P-M<sub>xx</sub> Interaction Diagram
                        <br/><span class="chinese-title">P-M<sub>xx</sub>互制圖</span></h3>
                    <div class="child-center-column" style="width:100%;padding:10%;">
                        <canvas id="PMCanvas" style="display: block;border:1px solid rgb(200,200,200);padding:10px;"
                                class="chartjs-render-monitor">
                        </canvas>

                    </div>


                </div>


            </div>

        </div>

    </div>

</div>

<script>

document.getElementById('parameter').click();
document.getElementById('inputForm').click();
document.getElementById('section').click();
var ele=document.getElementsByClassName('inputData');
for (i=0;i<ele.length;i++){
    ele[i].addEventListener('focusout',function(){
        sectionDrawing();
        writingInputToText(event);
    }
    );
}



var ele=document.getElementById('sectionSvg');
var ele2=document.getElementById('sectionSvg');
document.getElementById('sectionSvg').style.height=ele.clientWidth+"px";

var ele=document.getElementById('PMCanvas');
document.getElementById('PMCanvas').style.height=ele.clientWidth+"px";
showDbAb();











</script>
<script>
    Chart.defaults.global.legend.display = false;
	var color = Chart.helpers.color;
	var scatterChartData = {
		datasets: [{
		    data: [],
			label: 'My First dataset',
			xAxisID: 'x-axis-1',
			yAxisID: 'y-axis-1',
			borderColor: "rgb(0,0,0)",
			borderWidth: 2,
			backgroundColor: "rgb(0,0,0)",
			fill: false,
            tension: 1,
            pointRadius: 0,
            showLine: true
		},{
		    data: [],
			label: 'My First dataset',
			xAxisID: 'x-axis-1',
			yAxisID: 'y-axis-1',
			borderColor: "rgb(255,204,0)",
			borderWidth: 2,
			backgroundColor: "rgb(255,204,0)",
			fill: false,
            tension: 0,
            pointRadius: 3,
            pointHoverRadius:6,
            pointHoverBackgroundColor:"rgb(255,204,0)",
            pointHoverBorderColor:"rgb(255,204,0)",
            pointHitRadius: 20,
            showLine: false
		}]
	};
	var MxxString = '';
    var PString = '';
    var MuxString = '';
    var PuString = '';
    {% for Mi in Mxx %}
      MxxString +={{Mi}} +',';
    {% endfor %}
    {% for Pi in P %}
      PString +={{Pi}} +',';
    {% endfor %}
    {% for Muxi in Mux %}
      MuxString +={{Muxi}} +',';
    {% endfor %}
    {% for Pui in Pu %}
      PuString +={{Pui}} +',';
    {% endfor %}
      var Mxx = MxxString.split(',').map(parseFloat);
      var P = PString.split(',').map(parseFloat);
      var Mux = MuxString.split(',').map(parseFloat);
      var Pu = PuString.split(',').map(parseFloat);
      Mxx.pop();
      P.pop();
      Mux.pop();
      Pu.pop();

	for (j=0;j<Mux.length;j++)
	{
	  scatterChartData.datasets[1].data[j]={x:Mux[j],y:Pu[j]};
	}

	for (i=0;i<Mxx.length;i++)
	{
	  scatterChartData.datasets[0].data[i]={x:-Mxx[i],y:P[i]};
	}


	window.onload = function() {
		var ctx = document.getElementById('PMCanvas').getContext('2d');

		window.myScatter = Chart.Scatter(ctx, {
			data: scatterChartData,
			options: {
			    elements: {
                          point: {radius : 0},

                         },
			    scaleShowLabels : false,
                maintainAspectRatio: false,
				responsive: true,
				hoverMode: 'nearest',
				intersect: true,
				title: {
					display: true,
					fontColor:'black',
					fontSize: 15,
					text: 'P-M Interaction Diagram'
				},
				scales: {
					xAxes: [{
					    scaleLabel:{
                                     display: true,
                                     labelString: 'Mxx (tf-m)'
                                   },
						position: 'bottom',
						display: true,
						ticks: {suggestedMin: 0,beginAtZero: true, min:0,fontColor:'black'},

						id: 'x-axis-1'
					},{position: 'top',gridLines: {display: false} }],
					yAxes: [{
						scaleLabel:{
                                     display: true,
                                     labelString: 'P (tf)'

                                   },
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						ticks: { suggestedMin: 0,beginAtZero: true,fontColor:'black'},
						position: 'left',
						id: 'y-axis-1',


					}],
				}
			}
		});

	};













</script>
<script>
function jsonTest()
{
  console.log('ok');

  console.log(P);
  console.log(Mxx);

}













</script>
{% endblock %}
